::ng-deep :root {
    --navbar-width: 8vw;
    --bg-color: #3b3b3b;
    --font-color: #8a8a8a;
}

.navbar {
    width: var(--navbar-width);
    height: 105%;
    background-color:var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 0.8rem;
}

.navbarItemsList {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    text-align: center;
}

.navbar-item-active, .navbar-item-inactive {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-item-active:hover, .navbar-item-inactive:hover {
    /* scale: 1.2; */
}

.navbar-item-active {
    color:#f6fffa;
}

.navbar-photo {
    width: 40%;
}

.page-window {
    position: absolute;
    top: 0;
    left: var(--navbar-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('..\..\..\assets\user-layout\background.jpg');
    background-position: center;
    background-size: cover;
    width: calc(100vw - var(--navbar-width));
    height: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
}

.info-bar {
    position: fixed;
    top: 0;
    left: var(--navbar-width);
    width: calc(100vw - var(--navbar-width));
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color:#f6fffa;
}

.info-bar-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.current-page-name {
    width: 60%;
    font-size: 1.8rem;
    font-weight: bold;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.profile-info-image {
    height: 1.8rem;
    width: auto;
}

.profile-button {
    color:#f6fffa;
    background-color:#63b83f;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    padding: 0.6rem;
    width: 40%;
}

.current-page {
    position: absolute;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}