<div class="navbar">
    <a [routerLink]=routes[0].routerLink>
        <img src={{routes[0].imagePath}} class="navbar-photo" (click)="tabChanged(routes[0])"/>
    </a>
    
    <div class="navbarItemsList">
        <a *ngFor="let route of routes.slice(1)" [routerLink]=route.routerLink>
            <div [ngClass]="route.isActive ? 'navbar-item-active' : 'navbar-item-inactive'" (click)="tabChanged(route)">
                <img src={{route.imagePath}} class="navbar-photo"/>
                {{route.name}}
            </div>
        </a>
    </div>

    <a [routerLink]="['../authentication']">
        <div class="navbar-item-inactive" (click)="LogOut()">
            <img src="..\..\assets\user-layout\logout.png" class="navbar-photo"/>
            <span>Wyloguj</span>
        </div>
    </a>
</div>
<div class="page-window">
    <div class="info-bar">
        <div class="info-bar-content">
            <div class="current-page-name">{{currentTab.name}}</div>
            <div class="profile-info">
                <img src="..\..\assets\user-layout\total-money.png" class="profile-info-image"/>
                Bieżące saldo {{total}}zł
                <button class="profile-button">Twój profil</button>
            </div>    
        </div>   
    </div>
    <div class="current-page">
        <router-outlet></router-outlet>
    </div>    
</div>    


