
<div class="navbar">
    <a [routerLink]="'.'">
        <img src="..\..\assets\user-layout\logo.png" class="navbar-photo"/>
    </a>
    
    <div class="navbarItemsList">
        <a *ngFor="let route of routes" [routerLink]=route.routerLink>
            <div class="navbarItem">
                <img src={{route.imagePath}} class="navbar-photo"/>
                {{route.name}}
            </div>
        </a>
    </div>

    <a [routerLink]="['../authentication']">
        <div class="navbarItem">
            <img src="..\..\assets\user-layout\logout.png" class="navbar-photo"/>
            <span (click)="LogOut()">Wyloguj</span>
        </div>
    </a>
</div>
<div class="current-page">
    <router-outlet></router-outlet>
</div>    


