
<div class="navbar">
    <div class="navbarItem">
        <a [routerLink]="['earnings']">Wpływy</a>
    </div>
    <div class="separator"></div>

    <div class="navbarItem">
        <a [routerLink]="['savings']">Oszczędności</a>
    </div>
    <div class="separator"></div>

    <div class="navbarItem">
        <a [routerLink]="['expenses']">Wydatki</a>
    </div>
    <div class="separator"></div>

    <div class="navbarItem">
        <a [routerLink]="['connectUser']">Połącz użytkownika</a>
    </div>
    <div class="separator"></div>
</div>
<div class="current-page">
    <router-outlet></router-outlet>
</div>    


