<div class="container">
    <!-- BACKGROUND IMAGE SOURCE -->
    <!-- <a href="https://www.freepik.com/free-photo/stacks-coins-arranged-bar-graph_26926274.htm#query=finance&position=1&from_view=search&track=sph">Image by user6702303</a> on Freepik     -->

    <div class="login-card">
        <h3>Rejestracja</h3>
        <div class="input-block">
            <label for="email">E-mail</label>
            <input type="text" id="email">
        </div>
        
        <div class="input-block">
            <label for="password">Hasło</label>
            <input type="password" id="password">
        </div>
        <div class="input-block">
            <label for="passwordAgain">Powtórz hasło</label>
            <input type="password" id="passwordAgain">
        </div>

        <button id="login-button">Załóż konto</button>

        <div id="links">
            <a href="login">Masz już konto? Zaloguj się!</a>
        </div>       
    </div>
</div>
