<div class="authentication-card">
    <h3>Logowanie</h3>
    <form name="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">E-MAIL</label>
        <input type="text" id="email" [(ngModel)]="email" name="email">

        <label for="password">HASŁO</label>
        <input type="password" id="password" [(ngModel)]="password" name="password">
        
        <button class="authentication-button">Zaloguj</button>        
    </form>

    <div class="authentication-links">
        <a [routerLink]="['../register']">Nie masz konta? Zarejestruj się!</a>
        <a href="resetPassword">Nie pamiętasz hasła?</a>
    </div>    
</div>
