<div class="container">
    <div class="item-container">
        <div class="connectUserCard">
            <h3 class="code-item"> Kod dla innego użytkownika </h3>
            <button class="code-item" *ngIf="!isCodeGenerated" (click)="generateCode()">WYGENERUJ KOD</button>
            <span class="code-item" *ngIf="isCodeGenerated">{{connectionCode}}</span>
        </div>
        <div class="connectUserCard">
            <h3 class="code-item"> Wprowadź otrzymany kod </h3>
            <input
                type="text"
                class="code-item"
                [(ngModel)]="connectionCodeInput"
                (keyup.enter)="checkCode()"/>
        </div>
    </div>
    <div class="item-container">
        Połączeni użytkownicy

        <div class="connected-user-item" *ngFor="let user of connectedUsers">
            <span *ngIf="!user.isEditable">{{user.connectedUsername}}</span>
            <input type="text"
                [(ngModel)]="user.connectedUsername"
                *ngIf="user.isEditable"/>
            <button (click)="changeUsername(user)">Zmień nazwę</button>

    </div>    
</div>
