.container {
    display: flex;
    width: 80vw;
    height: 85vh;
    padding: 1em;
    box-sizing: border-box;
    background-color: rgba(59, 59, 59, 0.7);
    color: #f6fffa;
}

.connect-user-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 2em;
    text-align: center;
}

.code-item {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0.4rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    border: none;
}

.connected-users-header {
    display: flex;
    justify-content: space-between;
}

.connected-users-header > * {
    margin: 0;
}

.connected-users-list {
    height: 40%;
    overflow-y: scroll;
}

.connected-user-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.connected-user-item > p {
    width: 40%;
}