<div class="connectUserCardContainer">
    <div class="connectUserCard">
        <h3>
            Wybierz istniejącego użytkownika
        </h3>
        <form name="loginForm" (ngSubmit)="onSubmitExisting()">
            <div class="input-block">
                <label for="email">E-mail</label>
                <input type="text" id="email" [(ngModel)]="email" name="email">
            </div>

            <div class="input-block">
                <label for="password">Hasło</label>
                <input type="password" id="password" [(ngModel)]="password" name="password">
            </div>
            
            <button id="login-button">Zaloguj</button>        
        </form>
    </div>
    <div class="separator"></div>
    <div class="connectUserCard">
        <h3>
            Utwórz nowego użytkownika
        </h3>
        <form name="registerForm" (ngSubmit)="onSubmitNew()">
            <div class="input-block">
                <label for="email">E-mail</label>
                <input type="text" id="email" [(ngModel)]="email" name="email">
            </div>

            <div class="input-block">
                <label for="password">Hasło</label>
                <input type="password" id="password" [(ngModel)]="password" name="password">
            </div>
            <div class="validationError" *ngIf="!validPassword">
                {{ errorMsgPassword }}
            </div>
            <div class="input-block">
                <label for="passwordAgain">Powtórz hasło</label>
                <input type="password" id="passwordAgain" [(ngModel)]="passwordRepeated" name="passwordAgain" minlength="4">
            </div>
            <div class="validationError" *ngIf="!validPassword">
                    {{ errorMsgPasswordRepeated }}
            </div>
            
            <button id="register-button">Załóż konto</button>        
        </form>
    </div>
</div>

