<div class="container">
    <div class="content">
        <div class="content-left">
            <div class="connect-user-card">
                <h3> Kod dla innego użytkownika </h3>
                <button class="code-item-button" *ngIf="!isCodeGenerated" (click)="generateCode()">WYGENERUJ KOD</button>
                <span class="code-item" *ngIf="isCodeGenerated">{{connectionCode}}</span>
            </div>
            
            <div class="connect-user-card">
                <h3> Wprowadź otrzymany kod </h3>
                <input
                    type="text"
                    class="code-item-input"
                    [(ngModel)]="connectionCodeInput"
                    (keyup.enter)="checkCode()"/>
            </div>
            
        </div>
    
        <div class="content-right">
            <div class="connected-users-header">
                <h4>Użytkownicy, którzy udostępnili Ci dane</h4>
                <button class="edit-button" (click)="editIAmConnectedTo()">{{deleteIAmConnectedToEnabled ? "Zakończ" : "Edytuj"}}</button>
            </div>        
    
            <div class="connected-users-list">
                <div [ngClass]="deleteIAmConnectedToEnabled ? 'connected-user-item-editable' : 'connected-user-item'"
                     *ngFor="let user of usersIAmConnectedTo; index as i">
                    <span *ngIf="!user.isEditable">{{user.connectedUsername}}</span>
                    <input type="text"
                        [(ngModel)]="user.connectedUsername"
                        *ngIf="user.isEditable"/>
                    <div class="edits" *ngIf="deleteIAmConnectedToEnabled">
                        <button (click)="changeUsername(user)">Zmień nazwę</button>
                        <span class="delete-row" (click)="deleteUserIAmConnectedTo(i)">X</span>
                    </div>
                    
                </div>
            </div>        
    
            <div class="connected-users-header">
                <h4>Użytkownicy, którym udostępniasz dane</h4>
                <button class="edit-button" (click)="editConnectedToMe()">{{deleteConnectedToMeEnabled === true ? "Zakończ" : "Edytuj"}}</button>
            </div>
    
            <div class="connected-users-list">
                <div [ngClass]="deleteConnectedToMeEnabled ? 'connected-user-item-editable' : 'connected-user-item'"
                     *ngFor="let user of usersConnectedToMe; index as i">
                    <span *ngIf="!user.isEditable">{{user.connectingEmail}}</span>
                    <input type="text"
                        [(ngModel)]="user.connectedUsername"
                        *ngIf="user.isEditable"/>
                    <span class="delete-row" (click)="deleteUserConnectedToMe(i)" *ngIf="deleteConnectedToMeEnabled">X</span>
                </div>
            </div>        
        </div>
    </div>    
</div>





<!-- <div class="container">
    <div class="connect-user-card">
        <div class="card-item">
            <h3 class="code-item"> Kod dla innego użytkownika </h3>
            <button class="code-item" *ngIf="!isCodeGenerated" (click)="generateCode()">WYGENERUJ KOD</button>
            <span class="code-item" *ngIf="isCodeGenerated">{{connectionCode}}</span>
        </div>
        <div class="card-item">
            <h3 class="code-item"> Wprowadź otrzymany kod </h3>
            <input
                type="text"
                class="code-item"
                [(ngModel)]="connectionCodeInput"
                (keyup.enter)="checkCode()"/>
        </div>
    </div>
    <div class="connect-user-card">
        
    </div> 
</div> -->
