.container {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: absolute;
    overflow-y: scroll;
    padding: 0 5%;
    box-sizing: border-box;
    width: 80%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(59, 59, 59, 0.7);
    border-radius: 1rem;
}

h3 {
    color: #f6fffa;
}

h4 {
    margin: 0.3em;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.9);
}

.earnings-inputs-modal {
    width: 80%;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 59, 59, 0.9);
    color: #f6fffa;
    border-radius: 1rem;
    position: relative;
    top: 2%;
}

.close-modal {
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
    color:rgba(59, 59, 59);
    background-color: #f6fffa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.close-modal:hover {
    cursor: pointer;
    scale: 1.2;
}

.input-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0.2rem;
}

.input-item > input, select {
    border: none;
    border-radius: 0.1rem;
}

.earnings-button {
    padding: 0.3em;
    margin: 0.3em;
}

.earnings-list {
    width: 60%;
    background-color: rgba(59, 59, 59, 0.7);
    color: #f6fffa;
    border-radius: 1rem;
}

.earnings-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.earnings-list-item > p, h3{
    min-width: 33%;
    text-align: center;
}