<div class="container">
    <div class="content">
        <div class="content-left">
            <h3>Ostatnie wpływy</h3>
            <button (click)="openModal()">+<br/>Dodaj</button>
            <button (click)="LetDeleteRows()">-<br/>{{deleteRowEnabled === false ? "Usuń" : "Zakończ"}}</button>
            <div class="filters">
                <input type="date"
                    [(ngModel)]="filters.startDate"
                    name=""
                    [max]="filters.endDate">
                <input type="date"
                    [(ngModel)]="filters.endDate"
                    name=""
                    [min]="filters.startDate"> 
                <select name="" id="" [(ngModel)]="filters.category">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                </select>
                <input type="number"
                    [(ngModel)]="filters.minValue"
                    name=""
                    min="0"
                    [max]="filters.maxValue"> 
                <input type="number"
                    [(ngModel)]="filters.maxValue"
                    name=""
                    [min]="filters.minValue"> 
    
                <input type="number"
                    [(ngModel)]="filters.numberOfItems"
                    name=""> 

                <select name="" id="" [(ngModel)]="exchangeRateSelected">
                    <option *ngFor="let er of exchangeRates" [ngValue]="er.currencyCode">{{er.currencyCode}}</option>
                </select>
    
                <button (click)="filterEarnings()">Filtruj</button>
            </div>
    
            <div class="earnings-list">
                <div class="headers-list">
                    <h4 *ngFor="let header of listHeaders" (click)="changeSortColumn(header)">
                        {{header.name}}
                        <span *ngIf="header.arrowDirection == -1">&darr;</span>
                        <span *ngIf="header.arrowDirection == 1">&uarr;</span>
                    </h4>
                </div>
                <div class="earnings-list-item" *ngFor="let e of earningsToShow">
                    <p class="delete-row" *ngIf="deleteRowEnabled" (click)="DeleteRow()">X</p>
                    <p>{{e.username}}</p>
                    <p>{{e.date | date : undefined : undefined : "pl-PL"}}</p>
                    <p>{{e.category}}</p>
                    <p>{{e.description}}</p>
                    <p>{{e.value}}</p>
                    <p>{{e.currencyCode}}</p>
                    <p>{{e.currentValueInPLN}}</p>
                </div>
            </div>
        </div>
    
        <div class="content-right">
            <div class="chart" [chart]="earningHistoryChart"></div>
            <div class="chart" [chart]="earningsByCategoryChart"></div>
            Saldo: {{totalValue}}
        </div>
    </div>    
</div>

<div class="modal-background" *ngIf="!modalDisabled" (click)="closeModal()"></div>
<div class="earnings-inputs-modal" *ngIf="!modalDisabled">
    <div class="close-modal" (click)="closeModal()">X</div>
    <div class="input-item-modal">
        <h4 *ngFor="let header of listHeaders.slice(0, listHeaders.length-1)">{{header.name}}</h4>
    </div>
    <div class="input-item-modal" *ngFor="let earning of earningsInput; index as i; trackBy: trackByFn">
        <input type="date"
            [(ngModel)]="earningsInput[i].date"
            (ngModelChange)="onChange($event)"
            name="dates{{i}}">                    

        <select id="" [(ngModel)]='earningsInput[i].category' (ngModelChange)="onChange($event)">
            <option
                *ngFor="let category of categories; let i = index"                        
                [ngValue]="category">
                {{category}}
            </option>
        </select>

        <input type="text"
            [(ngModel)]="earningsInput[i].description"
            (ngModelChange)="onChange($event)"
            name="desc{{i}}">

        <input type="text"
            [(ngModel)]="earningsInput[i].value"
            (ngModelChange)="onChange($event)"
            name="values{{i}}">

        <select id="" [(ngModel)]='earningsInput[i].currencyCode' (ngModelChange)="onChange($event)">
            <option
                *ngFor="let er of exchangeRates; let i = index"     
                [ngValue]="er.currencyCode">
                {{er.currencyCode}}
            </option>
        </select>
    </div>  
    <div class="submit-buttons">
        <button class="earnings-button" [disabled]="addRowDisabled" (click)="addRow()">Dodaj wiersz</button>              
        <button class="earnings-button" (click)="submitInput()">Zapisz wpływy</button>    
    </div>
              
</div> 
