<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="custom.config">
		<add key="ApplicationName" value="MyApplication" />
		<add key="Issuer" value="FinanceSystemApp" />
		<add key="SigningKey" value="472dac2d94d9cd02cd6e3bea26f9d64d6073d554801fc728791a95eebb827c2daca621376dd3bf80418d782aa4ae918b5a76516c4fe6be7c34ea70ce03c26bc2bf387344e07c8ac243f6bea5b0d41e32bb7406427c37210b8f58c854bca5824b849588a1f0f0aece65d6191948e511cfba071db66ad986069a10aa58e32df42b" />
		<add key="ExpirationClaim" value="exp" />
		<add key="ExpirationTime" value="20" />
		<add key="UsernameClaim" value="username" />
		<add key="RoleClaim" value="role" />
	</appSettings>
	<connectionStrings>
		<add name="FinanceSystemDB" connectionString="Server=localhost;Database=FinanceSystemDB;Trusted_Connection=true; Connection timeout=30; TrustServerCertificate=true"/>
	</connectionStrings>
</configuration>
