.container {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f6fffa;
}

h3 {
    color: #f6fffa;
}

h4 {
    margin: 0.3em;
}

.content {
    position: absolute;
    overflow-y: scroll;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
}

.content-left {
    background-color: #3b3b3b;
    border-radius: 2rem;
    width: 60%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    align-items: flex-start;
}

.content-left-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem;
    gap: 1rem;
}

.content-left-row > h2 {
    margin: 0;
}

.content-left-row:nth-of-type(2n) {
    background-color: #ffffff55;
    border-radius: 2rem;
    flex-direction: column;
}

.earnings-edit {
    display: flex;
    align-items: center;
}

.earnings-edit-image {
    background-color:#3b3b3b;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    z-index: 5;
}

.earnings-edit-button {
    width: 8vw;
    text-align: center;
    background-color: #63b83f;
    padding: 0.2rem;
    margin-left: -0.5rem;
    z-index: 2;
    border-radius: 0.3em;
    border: none;
    font-size: 1.2rem;
    color:#f6fffa;
}

.filters-image {
    height: 1.2rem;
}

.filters {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.filter-item {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
}

.filters-input {
    border: 2px solid #f6fffa;
    color: #f6fffa;
    border-radius: 1rem;
    background-color: unset;
    padding: 0.3rem;
}

.select-option {
    background-color: #f6fffa;
    color:#3b3b3b;
}

.filter-label {
    font-size: 0.8rem;
}

.earnings-button {
    padding: 0.3em;
    margin: 0.3em;
}

.earnings-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.earnings-grid-row {
    display: grid;
    align-items: center;
    grid-template-columns: 22% 22% 22% 22% 12%;
    text-align: center;
    justify-items: center;
}

.earning-grid-item-username {
    background-color: #63b83f;
    color:#f6fffa;
    width: 70%;
    border-radius: 0.5rem;
}

.earning-grid-item-dots {
    width: 40%;
}

.btn-more {
    width: 30%;
}

.headers-list {
    display: flex;
    justify-content: space-between;
}

.delete-row {
    position: absolute;
    min-width: unset !important;
    color: #bb0000;
    font-weight: bold;
    text-align: right !important;
    left: 1rem;
}

.delete-row:hover {
    cursor: pointer;
    color: #ff0000;
}

.earnings-list-item :last-child{
    text-align: right;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.9);
    z-index: 10;
}

.earnings-inputs-modal {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(59, 59, 59, 0.9);
    color: #f6fffa;
    border-radius: 1rem;
    position: relative;
    top: 2%;
    z-index: 15;
}

.close-modal {
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
    color:rgba(59, 59, 59);
    background-color: #f6fffa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}

.close-modal:hover {
    cursor: pointer;
    scale: 1.2;
}

.input-item-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0.2rem;
}

.input-item-modal > * {
    width: 16%;
    text-align: center;
}

.input-item-modal > input, select {
    border: none;
    border-radius: 0.1rem;
}

.content-right {
    width: 35%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-wrapper {
    height: 48%;
    max-width: 100%;
    padding: 2rem 2rem 1rem 2rem;
    box-sizing: border-box;
    background-color:#3b3b3b;
    border-radius: 2rem;
    text-align: center;
}

.chart-visible {
    height: 90%;
}

.chart-invisible {
    display: none;
}

.chart-visible:nth-child(1) {
    max-width: 100% !important;
}

.chart-visible:nth-of-type(1) {
    top: 0;
}

.chart-visible:nth-of-type(2) {
    bottom: 0;
}

.change-chart-active {
    color: #63b83f;
    font-size: 1.5rem;
}

.change-chart-inactive {
    color: #979694;
    font-size: 1.5rem;
}

.change-chart-active:hover, .change-chart-inactive:hover {
    cursor: pointer;
}

