<div class="container">
    <div class="content">
        <div class="content-left">
            <div class="content-left-row">
                <div class="earnings-edit" (click)="openModal()">
                    <img class="earnings-edit-image" src="..\..\assets\user-layout\add.png"/>
                    <button class="earnings-edit-button">Dodaj</button>
                </div>
                <div class="earnings-edit" (click)="LetDeleteRows()">
                    <img class="earnings-edit-image" src="..\..\assets\user-layout\delete.png"/>
                    <button class="earnings-edit-button">{{editRowsEnabled === false ? "Usuń" : "Zakończ"}}</button>
                </div>
            </div>   
            <div class="content-left-row">
                <h2>Filtry <img class="filters-image" src="..\..\assets\user-layout\filters.png"/></h2>

                <div class="filters">
                    <div class="filter-item">
                        <input type="date"
                            [(ngModel)]="filters.startDate"
                            name=""
                            [max]="filters.endDate"
                            class="filters-input">
                        
                        <label class="filter-label">Data od</label>
                    </div>

                    <div class="filter-item">
                        <input type="date"
                            [(ngModel)]="filters.endDate"
                            name=""
                            [min]="filters.startDate"
                            class="filters-input"> 
                        
                        <label class="filter-label">Data do</label>
                    </div>

                    <div class="filter-item">
                        <select name="" class="filters-input" [(ngModel)]="filters.category">
                            <option class="select-option" value="all">Wszystkie</option>
                            <option class="select-option" *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                        </select>

                        <label class="filter-label">Kategoria</label>
                    </div>

                    <div class="filter-item">
                        <input type="text"
                            inputmode="numeric"
                            [(ngModel)]="filters.minValue"
                            name=""
                            min="0"
                            [max]="filters.maxValue"
                            class="filters-input"> 

                        <label class="filter-label">Wartość od (zł)</label>
                    </div>
                    
                    <div class="filter-item">
                        <input type="text"
                            inputmode="numeric"
                            [(ngModel)]="filters.maxValue"
                            name=""
                            [min]="filters.minValue"
                            class="filters-input"> 

                        <label class="filter-label">Wartość do (zł)</label>
                    </div>

                    <div class="filter-item">
                        <select name="" class="filters-input" [(ngModel)]="filters.currency">
                            <option class="select-option" value="all">Wszystkie</option>
                            <option class="select-option" *ngFor="let c of currencies" [ngValue]="c">{{c}}</option>
                        </select>

                        <label class="filter-label">Waluta</label>
                    </div>      
                </div>

                <button class="earnings-edit-button" (click)="filterExpenses()">Filtruj</button>                
            </div>
    
            <div class="earnings-grid">
                <div [ngClass]="editRowsEnabled ? 'earnings-grid-row-with-delete' : 'earnings-grid-row'">
                    <h4 *ngIf="editRowsEnabled"> </h4>
                    <h4 *ngFor="let header of sortingService.listHeadersShort" (click)="sortByColumn(header)">
                        {{header.name}}
                        <span *ngIf="header.arrowDirection == -1">&darr;</span>
                        <span *ngIf="header.arrowDirection == 1">&uarr;</span>
                    </h4>
                </div>
                
                <div [ngClass]="editRowsEnabled ? 'earnings-grid-row-with-delete' : 'earnings-grid-row'" *ngFor="let e of expenses; index as i">
                    <span *ngIf="editRowsEnabled" class="delete-row" (click)="deleteRow(i)">{{deleteRowEnabled(i) ? "X" : ""}}</span>
                    <span class="earning-grid-item-username">{{e.username}}</span>
                    <span>{{e.date | date : undefined : undefined : "pl-PL"}}</span>
                    <span>{{e.category}}</span>
                    <span>{{e.value}} {{e.currencyCode}}</span>
                    <img class="earning-grid-item-dots" src="..\..\assets\user-layout\dots.png" (click)="showEarningDetails(e)">
                </div>
            </div>
        </div>
    
        <div class="content-right">
            <div class="chart-wrapper">
                <div [ngClass]="leftLineChartEnabled ? 'chart-visible' : 'chart-invisible'" [chart]="expensesByDaysChart"></div>
                <div [ngClass]="!leftLineChartEnabled ? 'chart-visible' : 'chart-invisible'" [chart]="expensesByMonthsChart"></div>
                <span [ngClass]="leftLineChartEnabled ? 'change-chart-active' : 'change-chart-inactive'" (click)="changeLineChart('left')">&#9679;</span>
                <span [ngClass]="!leftLineChartEnabled ? 'change-chart-active' : 'change-chart-inactive'" (click)="changeLineChart('right')">&#9679;</span>
            </div>
            
            <div class="chart-wrapper">
                <div [ngClass]="leftPieChartEnabled ? 'chart-visible' : 'chart-invisible'" [chart]="expensesByCategoryChart"></div>
                <div [ngClass]="!leftPieChartEnabled ? 'chart-visible' : 'chart-invisible'" [chart]="expensesByUserChart"></div>
                <span [ngClass]="leftPieChartEnabled ? 'change-chart-active' : 'change-chart-inactive'" (click)="changePieChart('left')">&#9679;</span>
                <span [ngClass]="!leftPieChartEnabled ? 'change-chart-active' : 'change-chart-inactive'" (click)="changePieChart('right')">&#9679;</span>
            </div>
        </div>
    </div>    
</div>

<!-- #region INPUT_MODAL -->

<div class="modal-background" *ngIf="!inputModalDisabled" (click)="closeModal()"></div>
<div class="earnings-inputs-modal" *ngIf="!inputModalDisabled">
    <div class="close-modal" (click)="closeModal()">X</div>
    <div class="input-item-modal">
        <h4 *ngFor="let header of sortingService.listHeaders.slice(1, sortingService.listHeaders.length-1)">{{header.name}}</h4>
    </div>
    <div class="input-item-modal" *ngFor="let earning of earningsInput; index as i; trackBy: trackByFn">
        <input type="date"
            [(ngModel)]="earningsInput[i].date"
            (ngModelChange)="onChange($event)"
            name="dates{{i}}">                    

        <select id="" [(ngModel)]='earningsInput[i].category' (ngModelChange)="onChange($event)">
            <option
                *ngFor="let category of categories; let i = index"                        
                [ngValue]="category">
                {{category}}
            </option>
        </select>

        <input type="text"
            [(ngModel)]="earningsInput[i].description"
            (ngModelChange)="onChange($event)"
            name="desc{{i}}">

        <input type="text"
            [(ngModel)]="earningsInput[i].value"
            (ngModelChange)="onChange($event)"
            name="values{{i}}">

        <select id="" [(ngModel)]='earningsInput[i].currencyCode' (ngModelChange)="onChange($event)">
            <option
                *ngFor="let c of currencies; let i = index"     
                [ngValue]="c">
                {{c}}
            </option>
        </select>
    </div>  
    <div class="submit-buttons">
        <button class="earnings-button" [disabled]="addRowDisabled" (click)="addRow()">Dodaj wiersz</button>              
        <button class="earnings-button" (click)="submitInput()">Zapisz wpływy</button>    
    </div>              
</div> 

<!-- endregion -->


<!-- #region EARNING_DETAILS_MODAL -->
<div class="modal-background" *ngIf="!earningDetailsModalDisabled" (click)="closeModal()"></div>
<div class="earnings-inputs-modal" *ngIf="!earningDetailsModalDisabled">
    <div class="close-modal" (click)="closeModal()">X</div>
    <div class="input-item-modal">
        <h4 *ngFor="let header of sortingService.listHeaders">{{header.name}}</h4>
    </div>
    <div class="input-item-modal">
        <span>{{earningSelected!.username}}</span>
        <span>{{earningSelected!.date | date : undefined : undefined : "pl-PL"}}</span>
        <span>{{earningSelected!.category}}</span>
        <span>{{earningSelected!.description}}</span>
        <span>{{earningSelected!.value}}</span>
        <span>{{earningSelected!.currencyCode}}</span>
        <span>{{earningSelected!.currentValueInPLN}}</span>
    </div>         
</div> 
<!-- #endregion -->



