<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="custom.config">
		<add key="MinSeriesLength" value="24" />
		<add key="WindowSize" value="6" />
		<add key="SeriesLength" value="12" />
		<add key="TrainSize" value="25" />
		<add key="ForecastHorizon" value="6" />
		<add key="KeyFRED" value=""/>
		<add key="CPIUrl" value="https://api.stlouisfed.org/fred/series/observations?series_id=POLCPIALLMINMEI"/>
		<add key="SalaryUrl" value="https://api.stlouisfed.org/fred/series/observations?series_id=LCEAMN01PLM661S"/>
	</appSettings>
</configuration>